<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<PreserveLogFileNameExtension value="true" />
			<file value="logs\\log.log" />
			<datePattern value="dd.MM.yyyy'.Riayati-E-Prescription.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="25" />
			<maximumFileSize value="50MB" />
			<staticLogFileName value="false" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %date [%property{sessionId}, %property{pid}, %thread, %property{user}] %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<param name="AcceptOnMatch" value="false" />
				<param name="LoggerToMatch" value="WebLogger." />
			</filter>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
  <connectionStrings>
    <!--<add name="OracleConnectionString" connectionString="Data Source=172.18.18.20:1521/ORCL;User Id=HOSPITAL;Password=HOSPITAL;Min Pool Size=10;Connection Lifetime=100000;Connection Timeout=60;Incr Pool Size=5; Decr Pool Size=2;" />-->
    <add name="OracleConnectionString" connectionString="Data Source=139.185.49.38:1521/ORCL;User Id=HOSPITAL;Password=H0spItAL#4321;Min Pool Size=10;Connection Lifetime=100000;Connection Timeout=60;Incr Pool Size=5; Decr Pool Size=2;" />
  </connectionStrings>
  <appSettings>
	  <add key="API_BASE_URL" value="https://o-tmbapi.riayati.ae:8083/api" />
	  <!-- Cache Duration in minutes-->
	  <add key="CacheDuration" value="30" />
    <!--Cache Expiration In Seconds-->
    <add key="LICENSES_EXPIRATION" value="86400" />
	  <add key="DEBUGG" value="true"/>
	  <add key="PackageName" value="RIAYATI_INTEGRATION"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>